:root {
  --primary-font: "Roboto", sans-serif;
  --primary-color: darkslateblue;
  --color-black: black;
  --color-gray: gray;
  --secondary-color: white;
  --delete-button-color: darkred;
  --input-color: lightgray;
  --login-button-color: #cb6ce6;
  --search-bar-color: #d9d9d9;
  --add-button-color: limegreen;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (min-width: 600px) {
  #root {
    overflow: hidden;
  }
}
