.add-overlay {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(49, 49, 49, 0.8);
}

main > .add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  position: fixed;
  z-index: 10;
  width: 17vw;
  height: 7.5vh;
  bottom: 4rem;
  margin: 1rem 1rem;
  border: 0;
  border-radius: 100%;
  background-color: var(--primary-color);
}

main > .add-button-container > .add-button {
  background: none;
  border: 0;
  border-radius: 100%;
}

main > .add-button-container > .add-button > p {
  font-size: 4rem;
  color: white;
}

.add-overlay > .add-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 25rem;
  border: none;
  border-radius: 22px;
  background-color: var(--secondary-color);
  font-family: var(--primary-font);
}

.add-overlay > .add-modal > .add-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 1rem;
}

.add-overlay > .add-modal > .add-modal-content > h2 {
  margin: 0.5rem;
  font-family: var(--primary-font);
  color: var(--color-black);
}

.add-overlay > .add-modal > .add-modal-content > label,
.add-overlay > .add-modal > .add-modal-content > input {
  width: 20rem;
}

.add-overlay > .add-modal > .add-modal-content > label {
  text-align: left;
}

.add-overlay > .add-modal > .add-modal-content > input {
  height: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  outline: 0;
  border: none;
  border-radius: 10px;
  font: var(--primary-font);
  color: var(--color-black);
  background-color: var(--input-color);
}

.add-overlay > .add-modal > .add-modal-content > input:focus {
  border: var(--primary-color) solid 2px;
}

.add-overlay > .add-modal > .add-modal_content > a {
  text-decoration: none;
}

.add-overlay > .add-modal > .add-modal-content > div {
  display: flex;
  align-items: center;
}

.add-overlay > .add-modal > .add-modal-content > div > a > .validate,
.add-overlay > .add-modal > .add-modal-content > div > a > .cancel {
  width: 8rem;
  margin: 1rem 0.5rem;
  padding: 0.3rem;
  border-radius: 20px;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.add-overlay > .add-modal > .add-modal-content > div > a > .validate {
  background-color: var(--primary-color);
}

.add-overlay > .add-modal > .add-modal-content > div > a > .validate > img {
  width: 2rem;
}

.add-overlay > .add-modal > .add-modal-content > div > a > .cancel {
  background-color: var(--color-gray);
}

.add-overlay > .add-modal > button {
  position: absolute;
  height: 1rem;
  top: 0.2rem;
  right: 12px;
  border: none;
  background: none;
  font-size: xx-large;
  color: var(--primary-color);
}

@media only screen and (min-width: 600px) {
  main > .add-button-container {
    width: 6vw;
    height: 8vh;
  }

  .add-overlay {
    justify-content: center;
  }

  .add-overlay > .add-modal {
    inset-inline-start: auto;
    inset-inline-end: auto;
    width: 40rem;
    height: 29rem;
  }

  .add-overlay > .add-modal > .add-modal-content > h2 {
    font-size: 2rem;
  }

  .add-overlay > .add-modal > .add-modal-content > input,
  .add-overlay > .add-modal > .add-modal-content > label {
    width: 30rem;
  }

  .add-overlay > .add-modal > .add-modal-content > input {
    margin-bottom: 1.5rem;
  }

  .add-overlay > .add-modal > .add-modal-content > div > a > .validate,
  .add-overlay > .add-modal > .add-modal-content > div > a > .cancel {
    width: 10rem;
    font-size: 1.5rem;
  }

  .add-overlay > .add-modal > .add-modal-content > div > a > .validate,
  .add-overlay > .add-modal > .add-modal-content > div > a > .cancel,
  .nav-container > .nav-mobile > .add-button-container > .add-button {
    cursor: pointer;
  }

  .add-overlay > .add-modal > button {
    cursor: pointer;
  }
}
